{% extends "base.html" %}

{% block content %}
    <a href="/">all post</a>
    <a href="/newpost">new post</a>
    <a href="/login">login</a>
    <h1>Blog users!</h1>
    <form method='post' action="/blog">
        <table>
            <tr>
                <td><label>
                    title:
                    <input type="text" name='task'/>
                </label></td>
                <td><div class="error">{{title_error}}</div></td>
            </tr>
            <tr>
                <td><label>
                            post:
                            <textarea name ='new_blog'></textarea>
                </label></td>
                <td><div class="error">{{content_error}}</div></td>
            </tr> 
            </table>   
            <input type ="submit" value ='Add Entry'/>
    </form>

{% endblock %}