{% extends "base.html" %}

{% block content %}
    <a href="/">all post</a>
    <a href="/newpost">new post</a>
    <h1 style ="text-align:center">blog posts!</h1>

    {% if tasks|length == 0 %}
    <p>No tasks yet</p>
    {% else %}

        
            {% for task in tasks %}
            <h2><a href="/blog/{{task.id}}">{{task.title}}</a></h2>
            <br/>
            {{task.content}}
            <br/>
            <h4>Written by <a href="/blog?user={{task.owner_id}}">{{task.owner.username}}</a></h4>
            <hr/>
            {% endfor %}
        

    {% endif %}

{% endblock %}